/* #region general */

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-primary);
  font-family: "Poppins", sans-serif;
}

body p {
  line-height: 1.2;
}

main section {
  /* padding: 0 var(--content-limitation-lr); */
}

main svg line {
  stroke: var(--color-primary2);
  stroke-width: 4px;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  outline: inherit;
}

button:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

h1,
h2 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  line-height: 1;
}

.about-me-section h2,
.my-skills-section h2 {
  margin-bottom: 40px;
}

.h2-wrapper {
  margin-bottom: 40px;
}

.about-me-section,
.my-skills-section,
.portfolio-section {
  margin-bottom: 180px;
}

.line-wrapper {
  overflow-x: hidden;
}

/* #endregion */

/* #region header */

.site-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 100px;

  width: 100%;
  z-index: 999;
  background-color: var(--color-bg-dark);
}

.letter {
  font-size: 36px;
  font-weight: 700;
}

.letter-colored1 {
  color: var(--color-primary1);
}

.letter-colored2 {
  color: var(--color-primary2);
}

.header-controls {
  display: flex;
  gap: 100px;
}

.header-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header-nav {
  font-size: 24px;
}

.header-active {
  position: relative;
  color: var(--color-primary1);
}

.header-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 56px;
  height: 2.5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--color-primary2);
}

.header-nav a:hover {
  color: var(--color-primary1);
}

.language-switch {
  display: flex;
  gap: 18px;
}

.active-language {
  cursor: default;
}

/* #endregion */

/* #region hero section */

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 124px;
}

.hero-content-wrapper {
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 var(--content-limitation-lr);
  margin-bottom: 120px;
}

.hero-portrait-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 500px;
  overflow-x: visible;
}

.hero-portrait {
  position: absolute;
  bottom: 0;
}

.hero-portrait--full {
  z-index: -1;
}

.hero-portrait--ellbow {
  clip-path: inset(0px 0px 30px 0px);
  pointer-events: none;
  outline: 5px solid red;
}

.hero-portrait-shadows {
  position: relative;
  display: flex;
}

.hero-portrait-shadows svg {
  margin-top: 50px;
  width: 500px;
  height: 700px;
}

.portrait-shadow-right {
  margin-left: -250px;
}

.portrait-shadow-left path {
  fill: var(--color-primary2);
}

.portrait-shadow-right path {
  fill: var(--color-primary1);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-introduction {
  display: flex;
  gap: 32px;
  line-height: 1;
}

.hero-introduction-i-am {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  writing-mode: sideways-lr;
  font-size: 64px;
}

.hero-introduction-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-introduction-title {
  text-transform: uppercase;
  color: var(--color-primary2);
  font-size: 58px;
}

.hero-wave-bg {
  position: absolute;
  bottom: 0;
  transform: translateY(44%);
  width: 100%;
  z-index: -1;
  overflow-x: hidden;
}

.hero-wave-bg path {
  width: 100%;
  height: auto;
}

.hero-footer {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hero-footer a {
  font-size: 24px;
}

.hero-footer a:hover {
  color: var(--color-primary1);
}

.hero-footer-svg-wrapper {
  width: max(calc(50dvw - 720px + 100px), 100px);
  line-height: 0;
}

/* #endregion */

/* #region about me section*/
.about-me-section {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  padding-left: var(--content-limitation-lr);
}

.about-me-text {
  max-width: 475px;
}

.about-me-top-text {
  margin-bottom: 32px;
}

.about-me-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
}

.about-me-list li {
  display: flex;
  gap: 16px;
}

.about-me-list li p {
  flex: 1;
}

.about-me-list-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  width: 48px;
  height: 48px;
}

.about-me-list-icon-wrapper img {
  transition: var(--transition-hover-default);
}

.about-me-list-icon-wrapper:hover img {
  transition: var(--transition-hover-default);
}

.location-icon:hover img {
  transform: scale(1.5);
}

.learning-icon:hover img {
  transform: scale(1.25);
}

.puzzle-icon:hover img {
  transform: scale(1.6);
}

.about-me-svg-container {
  flex: 1;
  overflow-x: hidden;
}

.about-me-svg circle,
.about-me-svg line {
  stroke: var(--color-primary1);
  stroke-width: 4px;
}

/* #endregion */

/* #region my skills section*/

.my-skills-section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
    "skills-list top-right skills-line"
    "skills-list bottom-right . ";
  padding-left: 0 var(--content-limitation-lr);
  text-align: right;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: skills-list;
  list-style: none;
  text-align: center;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skill-wrapper img {
  transition: 300ms ease-in 200ms;
}

.skill-wrapper img:hover {
  transform: translateY(-20%);
  transition: var(--transition-hover-default);

  /* transition: var(--transition-hover-default); */
}

.skill-wrapper p {
  font-weight: 700;
}

.skill-wrapper--learning {
  color: var(--color-primary2);
}

.skill-wrapper--learning img:hover {
  transform: unset;
}

.my-skills--tr {
  grid-area: top-right;
  margin-bottom: 24px;
}

.my-skills-svg-wrapper {
  grid-area: skills-line;
}

.my-skills-line {
  margin-top: 45px;
  stroke-linecap: round;
}

.my-skills--br {
  grid-area: bottom-right;
}

.looking-for-skill {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
}

.looking-for-skill span {
  color: var(--color-primary2);
}

.my-skills--br--text {
  margin-bottom: 40px;
}

/* #endregion */

/* #region */

/* #endregion */
/* #region */

/* #endregion */

/* 180 */
