/* #region general */

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-primary);
  overflow-x: hidden;
}

.body--index {
  font-family: "Poppins", sans-serif;
}

body p {
  line-height: 1.2;
}

main {
  display: flex;
  flex-direction: column;
}

main svg line {
  stroke: var(--color-primary2);
  stroke-width: 4px;
}

section {
  scroll-margin-top: 150px;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  outline: inherit;
}

button,
input,
textarea {
  font: inherit;
}

button:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

.social-btn img {
  width: 30px;
}

.index-h1,
.index-h2 {
  font-size: 90px;
  font-weight: 700;
}

.index-h2 {
  line-height: 1;
}

.about-me-section h2,
.my-skills-section h2 {
  margin-bottom: var(--margin-bottom-h2);
}

.headline-wrapper {
  margin-bottom: var(--margin-bottom-h2);
}

.about-me-section,
.my-skills-section,
.portfolio-section,
.project-section {
  margin-bottom: var(--margin-bottom-section);
}

.line-wrapper {
  overflow-x: hidden;
  line-height: 0;
}

.svg-wrapper {
  overflow-x: hidden;
}

.bg-shadow-wrapper {
  position: absolute;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  overflow-x: visible;
  z-index: -1;
}

.bg-shadow {
  /* position: absolute; */
  /* z-index: -1; */
  /* overflow: visible; */
  /* background-color: transparent; */
}

input[type="checkbox"] {
  cursor: pointer;
}

/* #endregion */

/* #region header */

:root {
  --header-height: 110px;
}

.site-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-lr);

  width: 100%;
  height: var(--header-height);
  z-index: 999;
  background-color: var(--color-bg-dark);
}

.logo-name--header .letter {
  font-size: 36px;
}

.letter {
  font-weight: 700;
}

.letter-colored1 {
  color: var(--color-primary1);
}

.letter-colored2 {
  color: var(--color-primary2);
}

.header-controls {
  display: flex;
  gap: 100px;
}

.header-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header-nav {
  font-size: 24px;
}

.header-active {
  position: relative;
  color: var(--color-primary1);
}

.header-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 56px;
  height: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--color-primary2);
}

.header-nav a:hover {
  color: var(--color-primary1);
}

.language-switch {
  display: flex;
  gap: 18px;
}

.active-language {
  cursor: default;
}

.burger-menu-header {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  /* gap: 12px; */
  height: 25px;
  width: 30px;
}

.burger-menu-line {
  position: absolute;

  width: 30px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: white;

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(20, 29, 47, 0.8);
  z-index: 998;
  text-align: center;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 24px;
}

.language-btn-mobile {
  color: white;
}

.language-btn-mobile-active {
  color: var(--color-primary1);
  font-weight: 600;
}

.link-mobile-menu-active {
  position: relative;
  color: var(--color-primary1);
}

.link-mobile-menu-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 56px;
  height: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--color-primary2);
}

.burger-menu-line1 {
  top: 0px;
  animation: animateLine1 1000ms ease-in-out 1 forwards;
  transform-origin: center;
}

.burger-menu-line2 {
  top: 12px;
  animation: animateLine2 1000ms ease-in-out 1 forwards;
  transform-origin: center;
}

.burger-menu-line3 {
  top: 24px;
  animation: animateLine3 1000ms ease-in-out 1 forwards;
  transform-origin: center;
}

@keyframes animateLine1 {
  0% {
    top: 0;
    rotate: 0deg;
  }

  25% {
    top: 0;
    rotate: 0deg;
  }

  50% {
    top: 12px;
    rotate: -51deg;
  }

  100% {
    top: 12px;
    rotate: -46.5deg;
  }
}

@keyframes animateLine2 {
  0% {
    width: 30px;
  }

  25% {
    width: 10px;
  }

  50% {
    width: 5px;
  }

  100% {
    width: 0px;
  }
}

@keyframes animateLine3 {
  0% {
    top: 24px;
    rotate: 0;
  }

  25% {
    top: 24px;
    rotate: 0;
  }

  50% {
    top: 12px;
    rotate: 51deg;
  }

  100% {
    top: 12px;
    rotate: 46.5deg;
  }
}

/* #endregion */

/* #region header responsive */
@media screen and (max-width: 1280px) {
  .header-controls {
    display: none;
  }

  .burger-menu-header {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}

/* #endregion */

/* #region footer */

.site-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  padding: 120px 100px 80px 100px;
  height: 290px;

  border-top: 4px solid var(--color-primary1);
}

.footer-social-btns {
  justify-self: flex-end;
  display: flex;
  gap: 42px;
}

.footer-social-btns img {
  width: 30px;
}

.footer-copyright {
  justify-self: center;
  align-self: center;
  font-size: 24px;
}

.logo-name--footer {
  position: relative;
}

.legal-notice-footer {
  /* position: absolute; */
  /* bottom: 0; */
  top: 0;
}

.logo-name--footer .letter {
  font-size: 40px;
}
/* #endregion */

/* #region footer responsive */
@media screen and (max-width: 1280px) {
  .site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0;
  }

  .logo-name--footer {
    margin-bottom: 32px;
  }

  .footer-copyright {
    margin-bottom: 24px;
  }

  .footer-social-btns {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}

/* #endregion */

/* #region general responsive */
@media screen and (max-width: 1280px) {
  .index-h1,
  h2 {
    font-size: 46px;
  }

  main > section {
    align-self: center;
  }

  section {
    scroll-margin-top: 120px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}

/* #endregion */
