/* #region buttons */

button {
  transition: var(--transition-hover-default);
}

.btn {
  border-radius: 10px;
}

button:hover {
  transition: var(--transition-hover-default);
}

.btn-main {
  padding: 15px 30px;
  font-size: 24px;
}

.btn-primary1--filled {
  color: var(--color-text-primary);
  background-color: var(--color-primary1);
}

.btn-main.btn-primary1--filled {
  box-shadow: var(--box-shadow-btn);
  margin: 5px 10px;
}

.btn-main.btn-primary1--filled:not(:disabled):hover {
  background-color: var(--color-primary2);

  padding: 20px 40px 20px 40px;
  margin: 0;
}

.btn-main.btn-primary1--filled:not(:disabled):active {
  background-color: white;
  color: black;
  padding: 15px 30px;
  margin: 5px 10px;
}

.btn-primary1--outline {
  color: var(--color-text-primary);
  border: 1px solid var(--color-primary1);
}

.btn-main.btn-primary1--outline:hover {
  background-color: var(--color-primary1);
}

.btn-main.btn-primary1--outline:active {
  background-color: white;
  color: var(--color-primary2);
}

.btn-primary2--filled {
  color: var(--color-text-primary);
  background-color: var(--color-primary2);
}

.btn-main.btn-primary2--filled:hover {
  background-color: var(--color-primary1);
}

.btn-header {
  height: 32px;
  width: 38px;
  text-align: center;
  /* padding: 5px 8px; */
  font-size: 18px;
  line-height: 1;
  transition: background-color var(--transition-hover-default);
}

.btn-header.btn-primary1--filled {
  font-weight: 700;
}

.btn-header.btn-primary1--outline:hover {
  border-color: var(--color-primary2);
  background-color: var(--color-primary2);
}

.btn-header.btn-primary1--outline:active {
  background-color: white;
  border-color: white;
  color: var(--color-primary2);
}

.social-btn {
  display: flex;
}

.social-btn:hover {
  transform: scale(1.33);
}

/* #endregion */

a {
  transition: var(--transition-hover-default);
}

a:hover {
  transition: var(--transition-hover-default);
}

/* #region custom checkbox */

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-image: url(../assets/icons/check_box_outline_blank.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.checkbox-container:hover {
  background-color: rgba(24, 55, 113, 1);
}
/* .checkbox-container input[type="checkbox"]:focus-visible {
  outline: 2px solid black;
} */

.checkbox-container:has(input[type="checkbox"]:checked) {
  background: url(../assets/icons/check_box.svg) no-repeat center;
}

.checkbox-container:hover:has(input[type="checkbox"]:checked) {
  background: rgba(24, 55, 113, 1) url(../assets/icons/check_box.svg) no-repeat
    center;
}

.checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
}

/* input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
} */

/* #endregion */

@media screen and (max-width: 1280px) {
  .btn-main.btn-primary1--filled {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .btn-main {
    font-size: 20px;
    padding: 8px 16px;
  }
}
