.contact-section {
  position: relative;
}

.headline-wrapper--contact {
  display: flex;
  align-items: center;
  gap: 32px;
}

.contact-line {
  width: max(calc(50dvw - 720px + 535px), 535px);
}

.contact-content-wrapper {
  display: flex;
  /* justify-content: space-between; */
  gap: 150px;
  padding: 0 var(--content-limitation-lr);
}

.contact-content-first > p:nth-child(2) {
  margin-bottom: var(--space-s);
}

.got-a-problem {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: var(--space-m);
}

.contact-content-first {
  flex: 1;
}

.contact-content-second {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  width: 620px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 52px;
  width: 100%;
}

.contact-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.input-wrapper {
  position: relative;
  display: flex;
  gap: 10px;

  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid var(--color-primary2);
  width: 100%;
  background-color: transparent;
  color: var(--color-text-primary);
}

.input-icon {
  display: none;
  width: 25px;
  height: 25px;
}

.input-wrapper--input {
  align-items: center;
  height: 50px;
}

.input-wrapper::after {
  content: attr(data-message);
  font-size: 14px;
  color: var(--color-invalid);
  position: absolute;
  bottom: -28px;
  left: 3px;
  opacity: 0;
}

.input-invalid {
  border-color: var(--color-invalid);
}

.input-valid {
  border-color: var(--color-valid);
}

.input-wrapper.input-invalid::after {
  opacity: 1;
}

.contact-form textarea {
  resize: none;
  height: 200px;
  overflow-y: auto;
}

.input-wrapper input,
.input-wrapper textarea {
  flex: 1;
  background-color: transparent;
  color: var(--color-text-primary);
  border: none;
  outline: none;
}

.input-wrapper:not(.input-invalid):hover,
.input-wrapper:not(.input-invalid):has(input:focus),
.input-wrapper:not(.input-invalid):has(textarea:focus) {
  border-color: var(--color-valid);
}

.contact-form-inputs input::placeholder,
.contact-form-inputs textarea::placeholder {
  color: var(--color-text-primary);
}

.accept-privacy-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
  margin-bottom: 45px;
  font-size: 14px;
  align-self: start;
}

.accept-privacy-container a {
  color: var(--color-primary2);
}

.accept-privacy-container a:hover {
  text-decoration: underline;
}

.accept-privacy-container::after {
  content: attr(data-message);
  font-size: 14px;
  color: var(--color-invalid);
  position: absolute;
  bottom: -24px;
  left: 3px;
  opacity: 0;
}

.accept-privacy-container.input-invalid::after {
  opacity: 1;
}

.send-msg-btn {
  background-color: var(--color-primary1);
  color: var(--color-text-primary);
  box-shadow: var(--box-shadow-btn);
}

.send-msg-btn:disabled {
  background-color: rgba(182, 182, 182, 1);
  cursor: not-allowed;
}

.go-up-btn {
  align-self: flex-end;
}

.go-up-btn path,
.go-up-btn rect {
  transition: var(--transition-hover-default);
}

.go-up-btn:hover path,
.go-up-btn:active path {
  fill: var(--color-primary1);
  transition: var(--transition-hover-default);
}

.go-up-btn:hover rect,
.go-up-btn:active rect {
  stroke: var(--color-primary1);
  transition: var(--transition-hover-default);
}

.bg-shadow--contact {
  top: 350px;
  left: -350px;
}

.contact-form-toast-msg {
  position: fixed;
  top: 50dvh;
  left: 50dvw;
  transform: translate(300%, -50%);
  font-size: 24px;
  font-weight: 600;
  padding: 16px;
  border-radius: 16px;
  box-shadow: var(--box-shadow-btn);
  transition: var(--transition-slide-in);
}

.valid-submit {
  background-color: var(--color-valid);
  transform: translate(-50%, -50%);
  transition: var(--transition-slide-in);
}

.invalid-submit {
  background-color: var(--color-invalid);
  transform: translate(-50%, -50%);
  transition: var(--transition-slide-in);
}

/* #region responsive */
@media screen and (max-width: 1280px) {
  .headline-wrapper--contact {
    gap: 4px;
  }

  .contact-content-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .accept-privacy-container {
    align-self: center;
    margin-bottom: 32px;
  }

  .send-msg-btn {
    font-size: 16px;
  }

  .got-a-problem {
    font-size: 24px;
  }

  .contact-form-inputs input {
    height: 40px;
  }

  .contact-form textarea {
    height: 160px;
  }

  .contact-line {
    width: var(--content-limitation-lr);
  }

  .contact-content-second {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .contact-content-second {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
}

/* #endregion */
