@media screen and (max-width: 1600px) {
  .hero-introduction-title {
    font-size: 36px;
  }

  .hero-introduction-i-am {
    font-size: 48px;
  }

  .index-h1 {
    font-size: 60px;
  }

  .hero-introduction-i-am.german {
    font-size: 36px;
  }

  .hero-introduction {
    gap: 16px;
  }
}

@media screen and (min-width: 1500px) {
  .hero-content {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 1500px) {
  .hero-wave-bg {
    width: 175dvw;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1500px) {
  .hero-content {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 1280px) {
  .scroll-down-wrapper {
    display: none;
  }

  .hero-content {
    padding: 0;
    margin-left: 0;
    margin-bottom: 24px;
  }

  .hero-content-wrapper {
    flex-direction: column;
  }

  .index-h1 {
    font-size: 64px;
  }

  .hero-introduction-title {
    font-size: 40px;
  }

  .hero-introduction-i-am {
    font-size: 48px;
  }

  .hero-section {
    margin-bottom: var(--margin-bottom-section);
  }

  .hero-content-wrapper {
    margin-bottom: 0;
  }

  .hero-portrait-wrapper {
    padding: 0 var(--content-limitation-lr);
  }

  .hero-portrait {
    width: 500px;
    height: auto;
  }

  .hero-portrait-shadows svg {
    margin-top: 50px;
    width: 300px;
    height: 450px;
  }

  .portrait-shadow-right {
    margin-left: -100px;
  }

  .hero-footer-mail {
    display: none;
  }

  .hero-footer {
    grid-template-columns: 1fr auto 1fr;
    gap: 16px;
  }
}

@media screen and (max-width: 900px) {
  .hero-content {
    padding: 0;
    margin-left: 0;
  }

  .hero-content-wrapper {
    flex-direction: column;
  }

  .hero-footer {
    grid-template-columns: 1fr auto 1fr;
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .hero-wave-bg {
    width: 200dvw;
  }

  .index-h1 {
    font-size: 48px;
  }

  .hero-introduction-i-am {
    font-size: 30px;
  }

  .hero-introduction-i-am.german {
    font-size: 24px;
  }

  .hero-portrait {
    width: 450px;
  }

  .hero-portrait-shadows svg {
    width: 300px;
  }

  .hero-content {
    position: absolute;
    bottom: 15dvh;
    padding: 0 var(--padding-lr);
  }

  .hero-introduction {
    gap: 4px;
  }

  .hero-introduction-right {
    gap: 8px;
  }

  .hero-line {
    max-width: 100px;
    width: unset;
  }
}

@media screen and (max-width: 480px) {
  .hero-portrait-shadows svg {
    margin-top: 24px;
  }

  .hero-footer {
    padding-bottom: 24px;
  }

  .hero-content {
    margin-top: unset;
  }

  .hero-portrait {
    width: 320px;
  }

  .hero-portrait-shadows svg {
    width: 300px;
  }

  .hero-content-wrapper {
    margin-top: 24px;
  }

  .hero-introduction-title {
    font-size: 28px;
  }

  .index-h1 {
    font-size: 44px;
  }

  .hero-introduction-i-am.german {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .hero-introduction-title {
    font-size: 20px;
  }

  .hero-introduction-i-am {
    font-size: 20px;
  }

  .hero-introduction-i-am.german {
    font-size: 16px;
  }

  .index-h1 {
    font-size: 32px;
  }

  .hero-portrait-wrapper {
    height: 340px;
  }

  .hero-portrait {
    width: 250px;
  }

  .hero-portrait-shadows svg {
    margin-top: -50px;
    width: 230px;
    height: auto;
  }

  .hero-footer {
    padding-bottom: 16px;
  }

  .hero-content {
    bottom: 12dvh;
  }

  .hero-line {
    max-width: 70px;
  }
}
