.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 124px;
  width: 100%;
  height: calc(100dvh - var(--header-height));
  box-sizing: content-box;
}

.hero-content-wrapper {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 24px;
  /* margin-top: -80px; */
  padding: 0 var(--content-limitation-lr);
}

.hero-portrait-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 500px;
  overflow-x: visible;
  z-index: -2;
}

.hero-portrait {
  position: absolute;
  bottom: 0;
  /* width: 500px; */
  height: 700px;
}

.hero-portrait--full {
  /* z-index: -1; */
}

.hero-portrait--ellbow {
  /* z-index: -1; */

  /* clip-path: inset(0px 0px 30px 0px); */
  pointer-events: none;
  /* outline: 5px solid red; */
}

.hero-portrait-shadows {
  position: relative;
  display: flex;
  z-index: -3;
}

.hero-portrait-shadows svg {
  margin-top: 50px;
  width: 500px;
  height: 700px;
}

.portrait-shadow-right {
  margin-left: -250px;
}

.portrait-shadow-left path {
  fill: var(--color-primary2);
}

.portrait-shadow-right path {
  fill: var(--color-primary1);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
  /* padding-right: var(--content-limitation-lr); */
}

.hero-introduction {
  display: flex;
  gap: 32px;
  line-height: 1;
}

.hero-introduction-i-am {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  writing-mode: sideways-lr;
  font-size: 64px;
}

.hero-introduction-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-introduction-title {
  text-transform: uppercase;
  color: var(--color-primary2);
  font-size: 58px;
}

.hero-wave-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 115%;
  z-index: -1;
  overflow-x: hidden;
}

.hero-wave-bg path {
  width: 100%;
  height: auto;
}

.hero-footer {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
}

.hero-footer-mail {
  font-size: 24px;
}

.hero-footer-socials {
  display: flex;
  gap: 32px;
}

.hero-footer a:hover {
  color: var(--color-primary1);
}

.hero-line {
  width: max(calc(50dvw - 720px + 100px), 100px);
  height: 4px;
}

.scroll-down-wrapper {
  position: absolute;
  bottom: 0;
  right: var(--content-limitation-lr);
  display: flex;
  align-items: center;
  gap: 8px;
  writing-mode: sideways-rl;
  font-size: 24px;
  margin-bottom: 16px;
}

.scroll-down-wrapper img {
  width: 16px;
  /* height: auto; */
}

/* #region responsive */

@media screen and (max-width: 1500px) {
  .hero-content {
    padding: 0;
    margin-left: 0;
  }

  .hero-content-wrapper {
    flex-direction: column;
  }

  .hero-footer {
    grid-template-columns: 1fr auto 1fr;
    gap: 16px;
  }

  .hero-wave-bg {
    height: 110%;
    /* width: unset; */
  }
}

@media screen and (max-width: 1280px) {
  .scroll-down-wrapper {
    display: none;
  }

  .hero-content {
    padding-right: var(--content-limitation-lr);
    margin-left: -50px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-introduction {
    gap: 4px;
  }

  .hero-introduction-right {
    gap: 8px;
  }

  .hero-introduction-title {
    font-size: 28px;
  }

  .hero-introduction-i-am {
    font-size: 32px;
  }

  .hero-section {
    margin-bottom: var(--margin-bottom-section);
  }

  .hero-content-wrapper {
    margin-bottom: 0;
  }

  .hero-portrait-wrapper {
    height: 450px;
    padding: 0 var(--content-limitation-lr);
  }

  .hero-portrait {
    width: 300px;
    height: auto;
  }

  .hero-portrait-shadows svg {
    margin-top: 50px;
    width: 300px;
    height: 450px;
  }

  .portrait-shadow-right {
    margin-left: -100px;
  }

  .hero-footer-mail {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .hero-content {
    padding: 0;
    margin-left: 0;
  }

  .hero-content-wrapper {
    flex-direction: column;
  }

  .hero-footer {
    grid-template-columns: 1fr auto 1fr;
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .hero-portrait-shadows svg {
    margin-top: 24px;
  }
}

@media screen and (max-width: 375px) {
  .hero-introduction-title {
    font-size: 24px;
  }

  .hero-introduction-i-am {
    font-size: 24px;
  }

  .hero-portrait-wrapper {
    height: 375px;
  }

  .hero-portrait {
    width: 250px;
  }

  .hero-portrait-shadows svg {
    margin-top: -50px;
    width: 250px;
    height: auto;
  }
}

/* #endregion */
