.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 124px;
  width: 100%;
  height: calc(100dvh - var(--header-height));
  box-sizing: content-box;
}

.hero-content-wrapper {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 var(--content-limitation-lr);
}

.hero-portrait-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 500px;
  overflow-x: visible;
}

.hero-portrait {
  position: absolute;
  bottom: 0;
  height: 700px;
}

.hero-portrait--full {
  z-index: -2;
}

.hero-portrait--ellbow {
  z-index: -2;
  pointer-events: none;
}

.hero-portrait-shadows {
  position: relative;
  display: flex;
  z-index: -3;
}

.hero-portrait-shadows svg {
  margin-top: 50px;
  width: 500px;
  height: 700px;
}

.portrait-shadow-right {
  margin-left: -250px;
}

.portrait-shadow-left path {
  fill: var(--color-primary2);
}

.portrait-shadow-right path {
  fill: var(--color-primary1);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
}

.hero-introduction {
  display: flex;
  gap: 32px;
  line-height: 1;
}

.index-h1 {
  font-size: 90px;
  font-weight: 700;
}

.hero-introduction-i-am {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  writing-mode: sideways-lr;
  font-size: 64px;
  gap: 16px;
}

.hero-introduction-i-am.german {
  font-size: 48px;
}

.hero-introduction-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-introduction-title {
  text-transform: uppercase;
  color: var(--color-primary2);
  font-size: 58px;
}

.hero-wave-wrapper {
  width: 100%;
  height: 140%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-wave-bg {
  width: 120dvw;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: 140%;
}

.hero-wave-bg path {
  width: 100%;
  height: 100%;
}

.hero-footer {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hero-footer-mail {
  font-size: 24px;
}

.hero-footer-socials {
  display: flex;
  gap: 32px;
}

.hero-footer a:hover {
  color: var(--color-primary1);
}

.hero-line {
  width: max(calc(50dvw - 720px + 100px), 100px);
  height: 4px;
}

.scroll-down-wrapper {
  position: absolute;
  bottom: 0;
  right: var(--content-limitation-lr);
  display: flex;
  align-items: center;
  gap: 8px;
  writing-mode: sideways-rl;
  font-size: 24px;
  margin-bottom: 16px;
}

.scroll-down-wrapper img {
  width: 16px;
}
