.portfolio-section {
  display: flex;
  flex-direction: column;
}

.headline-wrapper--portfolio {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  gap: 32px;
}

.portfolio-line-left {
  justify-self: end;
}

.portfolio-line-right {
  width: max(calc(50dvw - 720px + 505px), 505px);
}

.headline-wrapper--portfolio h3 {
  justify-self: center;
}

.portfolio-subtitle {
  align-self: center;
  text-align: center;
  margin-bottom: 100px;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 155px;
}

.project-section article:nth-child(2) {
  flex-direction: row-reverse;
}

.project-section article:nth-child(2) .project-information {
  align-items: end;
}

.project-article {
  display: flex;
  align-items: center;
  gap: 150px;
}

.project-information {
  display: flex;
  flex-direction: column;
  max-width: 510px;
}

.project-information h3 {
  margin-bottom: var(--space-s);
  font-size: 32px;
  font-weight: 700;
  color: var(--color-primary2);
}

.project-skills {
  margin-bottom: var(--space-s);
  color: var(--color-primary1);
  font-size: 24px;
}

.project-description {
  margin-bottom: var(--space-l);
}

.project-btns {
  display: flex;
  gap: 86px;
}

/* #region feedback section */

.feedback-section {
  display: flex;
  gap: 48px;
  /* padding-left: var(--content-limitation-lr); */
  justify-content: center;
  align-items: start;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  padding-left: var(--content-limitation-lr);

  width: 850px;
}

.feedback-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 96px;
  margin-bottom: 32px;
  margin-left: 56px;
  height: 272px;
  border: 4px solid var(--color-primary1);
  border-radius: 32px;
}

.feedback-text {
  font-size: 20px;
}

.feedback-quotes {
  position: absolute;
  top: -40px;
  left: -65px;
}

.author-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.author-wrapper p {
  font-size: 18px;
}

.line-wrapper--feedback-box {
  flex: 1;
}

.feedback-slider {
  display: flex;
  align-items: center;
  align-self: end;
  transform: translateX(-100%);
  gap: 32px;
}

.slider-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.slider-arrow-btn:hover {
  border-color: var(--color-primary1);
}

.feedback-dots-wrapper {
  display: flex;
  gap: 20px;
}

.active-dot circle {
  fill: var(--color-primary2);
}

.svg-wrapper--feedback {
  flex: 1;
  width: max(calc(50dvw - 720px + 376px), 376px);
  display: flex;
  align-items: center;
}

.svg-wrapper--feedback circle,
.svg-wrapper--feedback line {
  stroke: var(--color-primary2);
  stroke-width: 4px;
}

.svg-wrapper--feedback--line-svg {
  flex: 1;
  margin-left: -4px;
}

.bg-shadow--portfolio-middle {
  top: 750px;
  left: -250px;
}

.bg-shadow--portfolio-bottom {
  bottom: -50px;
  right: -550px;
  rotate: 180deg;
}

/* #endregion */

/* #region responsive */
@media screen and (max-width: 1280px) {
  .headline-wrapper--portfolio {
    gap: 16px;
  }

  .portfolio-line-left {
    width: 24px;
  }

  .portfolio-line-right {
    width: 100%;
    /* width: calc(64px + var(--content-limitation-lr)); */
    /* width: max(calc(var(--content-limitation-lr) + 80px), 80px); */
  }

  .portfolio-subtitle {
    margin-bottom: 76px;
    padding: 0 var(--content-limitation-lr);
  }

  .project-section article:nth-child(2) {
    flex-direction: column;
  }

  .project-section article:nth-child(2) .project-information {
    align-items: center;
  }

  .project-section {
    gap: 100px;
    padding: 0 var(--content-limitation-lr);
  }

  .project-article {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .project-preview img {
    width: 200px;
    height: auto;
  }

  .project-information {
    align-items: center;
  }

  .feedback-section {
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
  }

  .feedback-content {
    width: 100%;
    padding: 0 var(--content-limitation-lr);
    /* padding-left: unset; */
    /* padding-right: var(--content-limitation-lr); */
  }

  .feedback-quotes {
    top: -40px;
    left: -15px;
    width: 68px;
  }

  .feedback-slider {
    transform: unset;
    align-self: center;
  }

  .feedback-box {
    /* margin-left: 15px; */
    margin-left: 0;
    padding: 16px;
  }

  .feedback-text {
    font-size: 16px;
  }

  .author-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  .author-wrapper p {
    font-size: 16px;
  }

  .line-wrapper--feedback-box {
    width: 100px;
  }

  .svg-wrapper--feedback {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas: ". circle-svg line-svg";
  }

  .svg-wrapper--feedback--line-svg {
    grid-area: line-svg;
    width: 100%;
    margin-left: -2px;
  }

  .svg-wrapper--feedback--circle-svg {
    grid-area: circle-svg;
    width: 144px;
    height: 144px;
  }

  .svg-wrapper--feedback circle,
  .svg-wrapper--feedback line {
    stroke: var(--color-primary2);
    stroke-width: 4px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}

/* #endregion */
