:root {
  --color-primary1: rgb(75, 71, 255);
  --color-primary2: rgba(0, 190, 232, 1);

  --color-bg-dark: rgba(20, 29, 47, 1);
  /* --color-bg-dark: rgb(38, 38, 38); */

  --color-bg-medium: rgba(26, 39, 67, 1);
  --color-bg-soft: rgba(39, 51, 75, 1);

  --color-text-primary: white;
}

:root {
  --transition-press-default: 100ms ease-in;
  --transition-hover-default: 100ms ease-in-out;
  --transition-hover-long: 300ms ease-in-out;

  --box-shadow-btn: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

:root {
  --padding-lr: 100px;
  --content-limitation-lr: max(calc(50dvw - 720px), var(--padding-lr));
  --margin-bottom-h2: 40px;
  --margin-bottom-section: 180px;

  --space-xs: 8px;
  --space-s: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 48px;
  --space-xxl: 64px;
}

@media screen and (max-width: 1280px) {
  :root {
    --padding-lr: 64px;
    --margin-bottom-h2: 32px;
    --margin-bottom-section: 100px;

    /* --space-xs: 8px; */
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --padding-lr: 24px;
    --margin-bottom-h2: 32px;
    --margin-bottom-section: 100px;

    /* --space-xs: 8px; */
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --padding-lr: 16px;
    --margin-bottom-h2: 32px;
    --margin-bottom-section: 100px;

    /* --space-xs: 8px; */
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;
  }
}

@media screen and (max-width: 375px) {
  :root {
    --padding-lr: 8px;
  }
}
