:root {
  --color-primary1: rgb(75, 71, 255);
  --color-primary2: rgba(0, 190, 232, 1);

  --color-bg-dark: rgba(20, 29, 47, 1);
  /* --color-bg-dark: rgb(38, 38, 38); */

  --color-bg-medium: rgba(26, 39, 67, 1);
  --color-bg-soft: rgba(39, 51, 75, 1);

  --color-text-primary: white;
}

:root {
  --transition-press-default: 100ms ease-in;
  --transition-hover-default: 100ms ease-in-out;
  --transition-hover-long: 300ms ease-in-out;

  --box-shadow-btn: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

:root {
  --content-limitation-lr: max(calc(50% - 720px), 100px);
  --margin-bottom-h2: 40px;
}
